/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.image-box {
    border: 2px solid #ccc;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
}

.uploaded-image {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.hashtags {
    margin-top: 10px;
}

.image-and-info {
    display: flex;
    flex-direction: column;
}

.image-info {
    margin-bottom: 20px;
}

input[type='text'],
textarea {
    width: calc(100% - 10px);
    margin-top: 10px;
    padding: 5px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .image-box {
        padding: 10px;
    }
} */

/* 
html,
body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.image-box {
  border: 2px solid #ccc;
  padding: 20px;
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px 0;
}

.image-container {
  flex: 1;
  margin-right: 20px;
}

.uploaded-image {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.hashtags {
  margin-top: 10px;
}

.title-and-description {
  flex: 2;
  display: flex;
  flex-direction: column;
}

input[type='text'],
textarea {
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .image-box {
    padding: 10px;
  }
} */


.container {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.image-box {
    padding: 20px;
    width: 100%;
    /* width: 400px; */
}

.uploaded-image {
    width: 100%;
    /* max-width: 60vh; */
    max-height: 60vh;
    /* aspect-ratio: '1/1'; */
    /* height: auto; */
    margin-top: 10px;
}

.hashtags {
    margin-top: 10px;
}

.title-field {
    margin-top: 50px;
}

.image-and-info {
    display: flex;
    align-items: flex-start;
}

.image-info {
    flex: 1;
}

.title-and-description {
    flex: 1;
    margin-left: 20px;
}

input[type='text'],
textarea {
    width: 100%;
    margin-top: 10px;
    padding: 5px;
}

@media (max-width: 768px) {
    .image-box {
        width: 80%;
    }
}