.header-style {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px;
    height: 75px;
    border-bottom: 2px solid #ddd;
}

.profile-icon {
    margin-left: auto;
    margin-right: 30px;
    color: black;
}

.logo {
    color: black;
}

.logo h3 {
    margin-left: 20px;
    text-decoration: none;
    color: black;
}

.logo h3:hover {
    text-decoration: none;
}

.logo h3:visited {
    color: black;
}

.search-bar {
    flex: 1;
    margin: -100px 100px;
    padding: 0 0px;
}